lambda/node_modules
.ask/
ask-resources.json

# Build directories
.history
.coverage
# Dependency directories
/**/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


gulpfile.js
package.json
!/lambda/*
package-lock.json
readme.MD
tsconfig.json
src